
@{
    ViewBag.Title = "Index";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    <section style="margin-top: 100px">
        <p>
            @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })
        </p>
        <div class="row d-flex justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col-sm-12 d-flex justify-content-center" style="margin: 15px 0px;">
                    <div class="container card flex-row" style="width: 100%; height:350px;">
                        <img src="@item.Image" style="width: 350px" class="card-img-top img-fluid" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title">@item.Name</h3>
                            <h4 class="card-text" style="color: red">INR.@item.Price</h4>
                            <p class="card-text">@item.Description</p>
                            <div>
                                <span><h4 class="card-text">Rating: @item.Rating</h4></span>
                                <span><h4 class="card-text">Quantity: @item.Quantity</h4></span>
                            </div>
                            <div>-------------------</div>

                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>

            }
        </div>

    </section>

</body>
</html>